@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::after,
::before {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px; /* Định kích thước chiều rộng của thanh cuộn */
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Màu nền của scrollbar */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Màu của thanh cuộn */
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-400;
}

.ant-input-search-button {
  background-color: #1967d2;
  border-color: #1967d2;
  color: white;
}
.ant-input-search-button:hover {
  background-color: #1967d2 !important;
  border-color: #1967d2;
  color: white;
}

/* select antd */
.select-custom > .ant-select-selector {
  border: none !important;
  box-shadow: none !important;
}
.select-filter > .ant-select-selector {
  border-radius: 4px !important;
}

.select-custom .ant-select-selection-item {
  padding: 0 !important;
}

.ql-container.ql-snow {
  max-height: 250px;
  overflow: auto;
}
/* gradient color */
.color-backgrount {
  background: rgb(230, 233, 237);
  background: linear-gradient(
    120deg,
    rgba(230, 233, 237, 1) 90%,
    rgba(172, 204, 255, 1) 150%
  );
}
